

<br>
<br>
<br>
<center><h1>Welcome to your Book Library</h1></center>

<br>
<br>
<br>
<br>


<center><p><%= link_to "Sign Up", signup_path%> OR      
<%= link_to('Log in with Facebook!', '/auth/facebook') %> OR    
<%= link_to "Log In", login_path%><br></p></center>

<br>
<br>
<br>
<br>

<center><%= link_to image_tag('https://i.stack.imgur.com/oL5c2.png', width: "350", height: "60"), '/auth/facebook' %></center>
<br>
<br>
<br>