

<h1>Welcome to your Homepage</h1>



<!-- <p>Show all books with notes underneath here, and make sure you have the logout button within the navbar, also, want to have a button such as to add a book, and to add a note to the book right after the note, also want to make sure to add a error message<p> -->

<% @books.each do |book| %>

<ul>
<h3><%= link_to book.title, book_path(book) %></h3> -
<%= book.author_first_name %> <%= book.author_last_name %>

<!-- display the book notes here, and a ink to edit the note, and a link on the title to view that specific note -->

</ul>

<% end %>


<!-- when i add a new book, i want to make sure that the new book is added on top of the list -->