Here we want to display the book title, and the notes that were given

<br>
<h1><%= @book.title %></h1>

<!-- <%= @book.notes%> -->

<%= link_to "Edit Book", edit_user_book_path(@book) %>


<%= link_to "Delete", @book, method: :delete, data: { confirm: "Really?" } %>
